body{
    font-family: sans-serif;
    background-color: cyan;
}
.inline{
    display: inline-block;
    cursor: pointer;
}
.red{
    color: red;
}

#inputModal::backdrop{
    background-color: rgba(0,0,0,0.7);
}